html{
    cursor: url(../imagens/mata-mosquito.png)  30 30, auto;
}
html, body, .container, .gameOver.row, winner.row{
    height: 100%;
}
body{
    background: url(../imagens/bg.jpg) no-repeat;
    background-size: cover;
}

/*MOSQUITOS*/
.mosquito1, .mosquito2, .mosquito3, .userUI{
    position: absolute;
}
.mosquito1{
    width: 50px;
    height: 50px;
}
.mosquito2{
    width: 80px;
    height: 80px;
}
.mosquito3{
    width: 110px;
    height: 110px;
}

/* USER INTERFACE */
.btn-rounded{
    border-radius: 30px;
}

select.form-control{
    width: 200px;
}
.userUI{
    position: fixed;
    left: 20px;
    bottom: 20px;
}
.cronometro{
    font-weight: 900;
    font-size: 18px;
}
.h48{
    height: 48px;
}
#menu-title-image{
    width: 200px;
}
/*RESPONSIVIDADE*/
@media(min-width: 576px){
    #menu-title-image{
        width: 200px;
    }
}
@media(min-width: 768px){
    #menu-title-image{
        width: 200px;
    }
}
@media(min-width: 992px){
    #menu-title-image{
        width: 500px;
    }
}